USE [master]
GO
/****** Object:  Database [D:\WEBFORMS-FINALPROJ\MAIN\APP_DATA\BANKINGSYSTEMDB.MDF]    Script Date: 4/23/2026 3:51:31 PM ******/
CREATE DATABASE [D:\WEBFORMS-FINALPROJ\MAIN\APP_DATA\BANKINGSYSTEMDB.MDF]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Database1', FILENAME = N'D:\WEBFORMS-FINALPROJ\Main\App_Data\BankingSystemDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Database1_log', FILENAME = N'D:\WEBFORMS-FINALPROJ\Main\App_Data\BankingSystemDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [D:\WEBFORMS-FINALPROJ\MAIN\APP_DATA\BANKINGSYSTEMDB.MDF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [D:\WEBFORMS-FINALPROJ\MAIN\APP_DATA\BANKINGSYSTEMDB.MDF]
GO
/****** Object:  Table [dbo].[LoginLogs]    Script Date: 4/23/2026 3:51:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoginLogs](
	[log_id] [int] IDENTITY(1,1) NOT NULL,
	[account_number] [bigint] NOT NULL,
	[login_time] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANSACTIONS]    Script Date: 4/23/2026 3:51:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANSACTIONS](
	[transaction_id] [int] NOT NULL,
	[accountNo] [int] NOT NULL,
	[amount] [float] NOT NULL,
	[transaction_time] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[transaction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 4/23/2026 3:51:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[account_number] [bigint] IDENTITY(1000000000,1) NOT NULL,
	[first_name] [varchar](50) NOT NULL,
	[middle_initial] [varchar](20) NULL,
	[last_name] [varchar](50) NOT NULL,
	[email_address] [varchar](50) NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[date_registered] [datetime] NOT NULL,
	[balance] [decimal](7, 2) NOT NULL,
	[debit] [decimal](7, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[account_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email_address] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LoginLogs] ADD  DEFAULT (getdate()) FOR [login_time]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [date_registered]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [balance]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [debit]
GO
ALTER TABLE [dbo].[LoginLogs]  WITH CHECK ADD FOREIGN KEY([account_number])
REFERENCES [dbo].[Users] ([account_number])
GO
USE [master]
GO
